<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="http://localhost:3000/api/location/<%=parentId%>" method="post">
            <label for="locationName">Location Name:</label>
            <!-- <input type="text" id="parentId" name="" value="<%=parentId%>" /> -->

            <input type="text" id="locationName" name="locationName" />
            <button type="submit">Add Location</button>
        </form>
    </body>
</html>
